/* @import '~antd/dist/antd.css'; */

/* .ant-card-body{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
} */
.error{
    color: red !important;
}